@charset "utf-8";
/* CSS Document */

@keyframes Cloud_1_anime
{
	0%{transform:translateX(0px);-webkit-transform:translateX(0px);}
	40%{transform:translateX(-1500px);opacity:1; -webkit-transform:translateX(-1500px); }
	51%{transform:translateX(1500px);opacity:0; -webkit-transform:translateX(1500px);}
	60%{opacity:1;}
	0%{transform:translateX(0px);-webkit-transform:translateX(0px);}
}

@-webkit-keyframes Cloud_1_anime
{
	0%{transform:translateX(0px);-webkit-transform:translateX(0px);}
	40%{opacity:1; transform:translateX(-1500px); -webkit-transform:translateX(-1500px); }
	51%{opacity:0; transform:translateX(1500px);-webkit-transform:translateX(1500px);}
	60%{opacity:1;}
	0%{transform:translateX(0px);-webkit-transform:translateX(0px);}
}