@charset "utf-8";
/* CSS Document */

.NightMask{
	background:url(Image/Trans/Purple_20.png);
}

.NightMask_body{
	background:url(Image/Trans/Purple_20.png);
}

#header_BG{
background: #513d66; /* Old browsers */
background: -moz-linear-gradient(top,  #513d66 0%, #1551d3 50%, #6788e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#513d66), color-stop(50%,#1551d3), color-stop(100%,#6788e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #513d66 0%,#1551d3 50%,#6788e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #513d66 0%,#1551d3 50%,#6788e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #513d66 0%,#1551d3 50%,#6788e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #513d66 0%,#1551d3 50%,#6788e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#513d66', endColorstr='#6788e5',GradientType=0 ); /* IE6-9 */


/* Blue 
background: #006f9b;
background: -moz-linear-gradient(top,  #006f9b 0%, #0099ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006f9b), color-stop(100%,#0099ff));
background: -webkit-linear-gradient(top,  #006f9b 0%,#0099ff 100%);
background: -o-linear-gradient(top,  #006f9b 0%,#0099ff 100%);
background: -ms-linear-gradient(top,  #006f9b 0%,#0099ff 100%);
background: linear-gradient(to bottom,  #006f9b 0%,#0099ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f9b', endColorstr='#0099ff',GradientType=0 );
*/
}

#Star{
	width:100%;
	height:300px;
	background:url(Image/Star.png);
	position:absolute;

}